In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('C://Users/teste/Documents/Arquivos Joao/Python/home-data-for-ml-course/train.csv')

In [3]:
dados.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
dados1 = dados[['TotalBsmtSF','1stFlrSF','GrLivArea','FullBath','TotRmsAbvGrd','GarageCars','GarageArea','SalePrice']]

In [6]:
dados1.head().T

                   0       1       2       3       4
TotalBsmtSF      856    1262     920     756    1145
1stFlrSF         856    1262     920     961    1145
GrLivArea       1710    1262    1786    1717    2198
FullBath           2       2       2       1       2
TotRmsAbvGrd       8       6       6       7       9
GarageCars         2       2       2       3       3
GarageArea       548     460     608     642     836
SalePrice     208500  181500  223500  140000  250000

In [10]:
dados1.columns = ['TamanhoAreaPorao','TamanhoArea1oAndar','AreaUtilAcimaSolo','BanheirosAcimaSolo','NumeroQuartosAcima','GaragemCapacidadeCarros','TamanhoGaragem','Target']

In [12]:
dados1.tail()

,TamanhoAreaPorao,TamanhoArea1oAndar,AreaUtilAcimaSolo,BanheirosAcimaSolo,NumeroQuartosAcima,GaragemCapacidadeCarros,TamanhoGaragem,Target
1455,953,953,1647,2,7,2,460,175000
1456,1542,2073,2073,2,7,2,500,210000
1457,1152,1188,2340,2,9,1,252,266500
1458,1078,1078,1078,1,5,1,240,142125
1459,1256,1256,1256,1,6,1,276,147500

In [13]:
dados1.dtypes

TamanhoAreaPorao           int64
TamanhoArea1oAndar         int64
AreaUtilAcimaSolo          int64
BanheirosAcimaSolo         int64
NumeroQuartosAcima         int64
GaragemCapacidadeCarros    int64
TamanhoGaragem             int64
Target                     int64
dtype: object

In [16]:
dados1.isnull().sum()

TamanhoAreaPorao           0
TamanhoArea1oAndar         0
AreaUtilAcimaSolo          0
BanheirosAcimaSolo         0
NumeroQuartosAcima         0
GaragemCapacidadeCarros    0
TamanhoGaragem             0
Target                     0
dtype: int64

In [19]:
expl = dados1.drop(columns=['Target'],axis = 1)

In [20]:
expl

,TamanhoAreaPorao,TamanhoArea1oAndar,AreaUtilAcimaSolo,BanheirosAcimaSolo,NumeroQuartosAcima,GaragemCapacidadeCarros,TamanhoGaragem
0,856,856,1710,2,8,2,548
1,1262,1262,1262,2,6,2,460
2,920,920,1786,2,6,2,608
3,756,961,1717,1,7,3,642
4,1145,1145,2198,2,9,3,836
...,...,...,...,...,...,...,...
1455,953,953,1647,2,7,2,460
1456,1542,2073,2073,2,7,2,500
1457,1152,1188,2340,2,9,1,252
1458,1078,1078,1078,1,5,1,240
1459,1256,1256,1256,1,6,1,276

In [21]:
target = dados1['Target']

In [22]:
target

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: Target, Length: 1460, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_treino, x_teste, y_treino, y_teste = train_test_split(expl,target,test_size=0.3,random_state=42)

In [30]:
x_treino.shape

(1022, 7)

In [31]:
x_teste.shape

(438, 7)

In [32]:
from sklearn.tree import DecisionTreeRegressor

In [33]:
dt = DecisionTreeRegressor(max_depth=4,random_state=42)

In [34]:
dt.fit(x_treino, y_treino)

DecisionTreeRegressor(max_depth=4, random_state=42)

In [36]:
from sklearn.metrics import r2_score

In [37]:
r2_score(y_treino,dt.predict(x_treino))

0.7334338654018069

In [38]:
r2_score(y_teste,dt.predict(x_teste))

0.7390786891705953

In [41]:
from sklearn.ensemble import RandomForestRegressor

In [42]:
rf = RandomForestRegressor(max_depth=4,random_state=42)

In [43]:
rf.fit(x_treino,y_treino)

RandomForestRegressor(max_depth=4, random_state=42)

In [44]:
r2_score(y_treino,rf.predict(x_treino))

0.7763132689716841

In [45]:
r2_score(y_teste,rf.predict(x_teste))

0.7990529684287585

In [46]:
from sklearn.ensemble import GradientBoostingRegressor

In [48]:
gb = GradientBoostingRegressor(max_depth=4,random_state=42)

In [50]:
gb.fit(x_treino,y_treino)

GradientBoostingRegressor(max_depth=4, random_state=42)

In [51]:
r2_score(y_treino,gb.predict(x_treino))

0.9280482874659739

In [53]:
r2_score(y_teste,gb.predict(x_teste))

0.8324725097212505

In [55]:
! pip install xgboost

Collecting xgboost
  Downloading xgboost-1.2.1-py3-none-win_amd64.whl (86.5 MB)
Requirement already satisfied: scipy in c:\users\teste\anaconda3\lib\site-packages (from xgboost) (1.5.0)
Requirement already satisfied: numpy in c:\users\teste\anaconda3\lib\site-packages (from xgboost) (1.18.5)
Installing collected packages: xgboost
Successfully installed xgboost-1.2.1

In [56]:
from xgboost import XGBRegressor

In [57]:
xg = XGBRegressor(max_depht=4,random_state=42)

In [58]:
xg.fit(x_treino,y_treino)

[16:22:28] WARNING: C:\Users\Administrator\workspace\xgboost-win64_release_1.2.0\src\learner.cc:516:
Parameters: { max_depht } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depht=4,
             max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, random_state=42, reg_alpha=0, reg_lambda=1,
             scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [59]:
r2_score(y_treino,xg.predict(x_treino))

0.9952300692560945

In [60]:
r2_score(y_teste,xg.predict(x_teste))

0.8097599410305564

In [61]:
import joblib

In [63]:
joblib.dump(gb,'modelo_vencedor_gb.pkl',compress=1)

['modelo_vencedor_gb.pkl']

In [64]:
teste = pd.read_csv('C://Users/teste/Documents/Arquivos Joao/Python/home-data-for-ml-course/test.csv')

In [65]:
teste1 = teste[['TotalBsmtSF','1stFlrSF','GrLivArea','FullBath','TotRmsAbvGrd','GarageCars','GarageArea']]

In [70]:
teste1.head()

,TamanhoAreaPorao,TamanhoArea1oAndar,AreaUtilAcimaSolo,BanheirosAcimaSolo,NumeroQuartosAcima,GaragemCapacidadeCarros,TamanhoGaragem
0,882.0,896,896,1,5,1.0,730.0
1,1329.0,1329,1329,1,6,1.0,312.0
2,928.0,928,1629,2,6,2.0,482.0
3,926.0,926,1604,2,7,2.0,470.0
4,1280.0,1280,1280,2,5,2.0,506.0

In [67]:
teste1.columns = ['TamanhoAreaPorao','TamanhoArea1oAndar','AreaUtilAcimaSolo','BanheirosAcimaSolo','NumeroQuartosAcima','GaragemCapacidadeCarros','TamanhoGaragem']

In [69]:
teste1.dtypes

TamanhoAreaPorao           float64
TamanhoArea1oAndar           int64
AreaUtilAcimaSolo            int64
BanheirosAcimaSolo           int64
NumeroQuartosAcima           int64
GaragemCapacidadeCarros    float64
TamanhoGaragem             float64
dtype: object

In [71]:
teste1.isnull().sum()

TamanhoAreaPorao           1
TamanhoArea1oAndar         0
AreaUtilAcimaSolo          0
BanheirosAcimaSolo         0
NumeroQuartosAcima         0
GaragemCapacidadeCarros    1
TamanhoGaragem             1
dtype: int64

In [73]:
teste1 = teste1.dropna()

In [74]:
teste1.isnull().any()

TamanhoAreaPorao           False
TamanhoArea1oAndar         False
AreaUtilAcimaSolo          False
BanheirosAcimaSolo         False
NumeroQuartosAcima         False
GaragemCapacidadeCarros    False
TamanhoGaragem             False
dtype: bool

In [75]:
modelo_salvo = joblib.load('modelo_vencedor_gb.pkl')

In [76]:
resultado = teste1.copy()

In [79]:
resultado['ValorPredito'] = modelo_salvo.predict(teste1)

In [81]:
resultado

,TamanhoAreaPorao,TamanhoArea1oAndar,AreaUtilAcimaSolo,BanheirosAcimaSolo,NumeroQuartosAcima,GaragemCapacidadeCarros,TamanhoGaragem,ValorPredito
0,882.0,896,896,1,5,1.0,730.0,133538.282017
1,1329.0,1329,1329,1,6,1.0,312.0,149556.427224
2,928.0,928,1629,2,6,2.0,482.0,188026.736382
3,926.0,926,1604,2,7,2.0,470.0,188195.312208
4,1280.0,1280,1280,2,5,2.0,506.0,184120.212267
...,...,...,...,...,...,...,...,...
1454,546.0,546,1092,1,5,0.0,0.0,81876.838249
1455,546.0,546,1092,1,6,1.0,286.0,97959.076588
1456,1224.0,1224,1224,1,7,2.0,576.0,170614.881779
1457,912.0,970,970,1,6,0.0,0.0,110054.654800
1458,996.0,996,2000,2,9,3.0,650.0,208064.221461